BR2_arm=y
BR2_arm1176jzf_s=y
BR2_ARM_EABI=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_DOWNLOAD=y
BR2_TOOLCHAIN_EXTERNAL_URL="https://github.com/nerves-project/toolchains/releases/download/v0.10.0/nerves_toolchain_armv6_rpi_linux_gnueabi-0.10.0.linux-x86_64.tar.xz"
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="armv6-rpi-linux-gnueabi"
BR2_TOOLCHAIN_EXTERNAL_GCC_5=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_3_12=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TOOLCHAIN_BUILDROOT_FORTRAN=y # setup fortran compiler
BR2_TARGET_GENERIC_HOSTNAME=""
BR2_TARGET_GENERIC_ISSUE=""
BR2_INIT_NONE=y
# BR2_TARGET_GENERIC_GETTY is not set
# BR2_TARGET_GENERIC_REMOUNT_ROOTFS_RW is not set
BR2_ENABLE_LOCALE_WHITELIST="locale-archive"
BR2_GENERATE_LOCALE="en_US.UTF-8"
BR2_ROOTFS_OVERLAY="${BR2_EXTERNAL_NERVES_PATH}/board/nerves-common/rootfs-additions ${NERVES_DEFCONFIG_DIR}/rootfs-additions"
BR2_ROOTFS_POST_BUILD_SCRIPT="${BR2_EXTERNAL_NERVES_PATH}/board/nerves-common/post-build.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="${NERVES_DEFCONFIG_DIR}/post-createfs.sh"
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/raspberrypi/linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="04c8e47067d4873c584395e5cb260b4f170a99ea"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="${NERVES_DEFCONFIG_DIR}/linux-4.4.defconfig"
BR2_LINUX_KERNEL_DTS_SUPPORT=y
BR2_LINUX_KERNEL_INTREE_DTS_NAME="bcm2708-rpi-0-w bcm2708-rpi-b-plus"
BR2_LINUX_KERNEL_EXT_KERNEL_WIRELESS_REGDB=y
BR2_PACKAGE_BUSYBOX_CONFIG="${BR2_EXTERNAL_NERVES_PATH}/board/nerves-common/busybox-1.22.config"
BR2_PACKAGE_E2FSPROGS=y
# BR2_PACKAGE_E2FSPROGS_BADBLOCKS is not set
# BR2_PACKAGE_E2FSPROGS_CHATTR is not set
# BR2_PACKAGE_E2FSPROGS_DUMPE2FS is not set
# BR2_PACKAGE_E2FSPROGS_E2FREEFRAG is not set
# BR2_PACKAGE_E2FSPROGS_E2FSCK is not set
# BR2_PACKAGE_E2FSPROGS_E2LABEL is not set
# BR2_PACKAGE_E2FSPROGS_E2UNDO is not set
# BR2_PACKAGE_E2FSPROGS_FILEFRAG is not set
# BR2_PACKAGE_E2FSPROGS_FSCK is not set
# BR2_PACKAGE_E2FSPROGS_LOGSAVE is not set
# BR2_PACKAGE_E2FSPROGS_LSATTR is not set
# BR2_PACKAGE_E2FSPROGS_MKLOSTFOUND is not set
# BR2_PACKAGE_E2FSPROGS_TUNE2FS is not set
# BR2_PACKAGE_E2FSPROGS_UUIDGEN is not set
BR2_PACKAGE_FWUP=y
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_LINUX_FIRMWARE_BRCM_BCM43XXX=y
BR2_PACKAGE_RPI_FIRMWARE=y
BR2_PACKAGE_RPI_FIRMWARE_X=y
BR2_PACKAGE_RPI_USERLAND=y
BR2_PACKAGE_ERLANG_SMP=y
BR2_PACKAGE_LIBMNL=y
BR2_PACKAGE_NCURSES=y
BR2_PACKAGE_WPA_SUPPLICANT=y
BR2_PACKAGE_WPA_SUPPLICANT_AUTOSCAN=y
BR2_PACKAGE_WPA_SUPPLICANT_DEBUG_SYSLOG=y
BR2_PACKAGE_WPA_SUPPLICANT_CLI=y
BR2_PACKAGE_WPA_SUPPLICANT_WPA_CLIENT_SO=y
BR2_PACKAGE_WPA_SUPPLICANT_PASSPHRASE=y
BR2_TARGET_ROOTFS_SQUASHFS=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_NERVES_SYSTEM_NAME="nerves_system_rpi0_pyplus"
BR2_NERVES_ADDITIONAL_IMAGE_FILES="$(NERVES_DEFCONFIG_DIR)/fwup.conf ${NERVES_DEFCONFIG_DIR}/cmdline.txt ${NERVES_DEFCONFIG_DIR}/config.txt"
BR2_PACKAGE_BOARDID=y
BR2_PACKAGE_ERLANG_HISTORY=y
BR2_PACKAGE_NERVES_CONFIG=y
BR2_PACKAGE_NERVES_CONFIG_NO_ERLINIT_CONF=y
BR2_PACKAGE_NERVES_CONFIG_APPS="crypto"

# ========================================================================= #
# Networking and General Purpose
# ========================================================================= #

BR2_PACKAGE_MSGPACK=y
BR2_PACKAGE_PROTOBUF=y
BR2_PACKAGE_ZEROMQ=y
BR2_PACKAGE_PROCPS=y

# ========================================================================= #
# BLAS, LAPACK, and Other Basic Libraries
# ========================================================================= #

BR2_PACKAGE_OPENBLAS_DEFAULT_TARGET="ARMV7"
BR2_PACKAGE_OPENBLAS_ARCH_SUPPORTS=y
BR2_PACKAGE_OPENBLAS=y
BR2_PACKAGE_OPENBLAS_TARGET="ARMV7"

BR2_PACKAGE_LAPACK=y
BR2_PACKAGE_LAPACK_COMPLEX=y

BR2_PACKAGE_FFTW=y
BR2_PACKAGE_FFTW_PRECISION_DOUBLE=y
BR2_PACKAGE_FFTW_FAST=y

# ========================================================================= #
# Python (extra setup for vision resources)
# ========================================================================= #

BR2_PACKAGE_PYTHON=y
# BR2_PACKAGE_PYTHON_PY_ONLY is not set
# BR2_PACKAGE_PYTHON_PYC_ONLY is not set
BR2_PACKAGE_PYTHON_PY_PYC=y

#
# core python modules
#

#
# The following modules are unusual or require extra libraries
#
BR2_PACKAGE_PYTHON_BZIP2=y
BR2_PACKAGE_PYTHON_BSDDB=y
BR2_PACKAGE_PYTHON_CODECSCJK=y
BR2_PACKAGE_PYTHON_CURSES=y
BR2_PACKAGE_PYTHON_OSSAUDIODEV=y
BR2_PACKAGE_PYTHON_READLINE=y
BR2_PACKAGE_PYTHON_SSL=y
BR2_PACKAGE_PYTHON_UNICODEDATA=y
BR2_PACKAGE_PYTHON_UCS2=y
# BR2_PACKAGE_PYTHON_UCS4 is not set
BR2_PACKAGE_PYTHON_SQLITE=y
BR2_PACKAGE_PYTHON_PYEXPAT=y
BR2_PACKAGE_PYTHON_ZLIB=y
BR2_PACKAGE_PYTHON_HASHLIB=y

#
# External python modules
#
# BR2_PACKAGE_PYTHON_ALSAAUDIO is not set
# BR2_PACKAGE_PYTHON_ARGH is not set
# BR2_PACKAGE_PYTHON_ARROW is not set
# BR2_PACKAGE_PYTHON_ATTRS is not set
# BR2_PACKAGE_PYTHON_AUTOBAHN is not set
# BR2_PACKAGE_PYTHON_BABEL is not set
# BR2_PACKAGE_PYTHON_BACKPORTS_ABC is not set
# BR2_PACKAGE_PYTHON_BEAUTIFULSOUP4 is not set
# BR2_PACKAGE_PYTHON_BITSTRING is not set
# BR2_PACKAGE_PYTHON_BOTTLE is not set
# BR2_PACKAGE_PYTHON_CAN is not set
# BR2_PACKAGE_PYTHON_CBOR is not set
# BR2_PACKAGE_PYTHON_CERTIFI is not set
BR2_PACKAGE_PYTHON_CFFI=y
BR2_PACKAGE_PYTHON_CHARACTERISTIC=y
# BR2_PACKAGE_PYTHON_CHARDET is not set
# BR2_PACKAGE_PYTHON_CHEETAH is not set
# BR2_PACKAGE_PYTHON_CHERRYPY is not set
# BR2_PACKAGE_PYTHON_CLICK is not set
# BR2_PACKAGE_PYTHON_COHERENCE is not set
# BR2_PACKAGE_PYTHON_CONFIGOBJ is not set
# BR2_PACKAGE_PYTHON_CONFIGSHELL_FB is not set
# BR2_PACKAGE_PYTHON_CONSTANTLY is not set
BR2_PACKAGE_PYTHON_COUCHDB=y
# BR2_PACKAGE_PYTHON_CRC16 is not set
# BR2_PACKAGE_PYTHON_CRCMOD is not set
# BR2_PACKAGE_PYTHON_CROSSBAR is not set
BR2_PACKAGE_PYTHON_CRYPTOGRAPHY=y
# BR2_PACKAGE_PYTHON_CSSSELECT is not set
# BR2_PACKAGE_PYTHON_CSSUTILS is not set
BR2_PACKAGE_PYTHON_DAEMON=y
BR2_PACKAGE_PYTHON_DATAPROPERTY=y
BR2_PACKAGE_PYTHON_DATEUTIL=y
# BR2_PACKAGE_PYTHON_DECORATOR is not set
# BR2_PACKAGE_PYTHON_DIALOG is not set
# BR2_PACKAGE_PYTHON_DICTTOXML is not set
# BR2_PACKAGE_PYTHON_DJANGO is not set
# BR2_PACKAGE_PYTHON_DOCOPT is not set
BR2_PACKAGE_PYTHON_DOCUTILS=y
# BR2_PACKAGE_PYTHON_DOMINATE is not set
# BR2_PACKAGE_PYTHON_DPKT is not set
# BR2_PACKAGE_PYTHON_ECDSA is not set
# BR2_PACKAGE_PYTHON_ENGINEIO is not set
# BR2_PACKAGE_PYTHON_ENUM is not set
BR2_PACKAGE_PYTHON_ENUM34=y
# BR2_PACKAGE_PYTHON_FLASK is not set
# BR2_PACKAGE_PYTHON_FLASK_BABEL is not set
# BR2_PACKAGE_PYTHON_FLASK_JSONRPC is not set
# BR2_PACKAGE_PYTHON_FLASK_LOGIN is not set
# BR2_PACKAGE_PYTHON_FLUP is not set
BR2_PACKAGE_PYTHON_FUTURES=y
# BR2_PACKAGE_PYTHON_GOBJECT is not set
# BR2_PACKAGE_PYTHON_GUNICORN is not set
# BR2_PACKAGE_PYTHON_HTML5LIB is not set
# BR2_PACKAGE_PYTHON_HTTPLIB2 is not set
# BR2_PACKAGE_PYTHON_HUMANIZE is not set
# BR2_PACKAGE_PYTHON_ID3 is not set
BR2_PACKAGE_PYTHON_IDNA=y
BR2_PACKAGE_PYTHON_INCREMENTAL=y
BR2_PACKAGE_PYTHON_INIPARSE=y
BR2_PACKAGE_PYTHON_IOWAIT=y
BR2_PACKAGE_PYTHON_IPADDR=y
BR2_PACKAGE_PYTHON_IPADDRESS=y
BR2_PACKAGE_PYTHON_IPY=y
BR2_PACKAGE_PYTHON_IPYTHON=y
# BR2_PACKAGE_PYTHON_ITSDANGEROUS is not set
# BR2_PACKAGE_PYTHON_JINJA2 is not set
BR2_PACKAGE_PYTHON_JSONSCHEMA=y
BR2_PACKAGE_PYTHON_JSON_SCHEMA_VALIDATOR=y
# BR2_PACKAGE_PYTHON_KEYRING is not set
# BR2_PACKAGE_PYTHON_LIBCONFIG is not set
# BR2_PACKAGE_PYTHON_LMDB is not set
# BR2_PACKAGE_PYTHON_LOGBOOK is not set
# BR2_PACKAGE_PYTHON_LXML is not set
# BR2_PACKAGE_PYTHON_MAD is not set
# BR2_PACKAGE_PYTHON_MAKO is not set
# BR2_PACKAGE_PYTHON_MARKDOWN is not set
# BR2_PACKAGE_PYTHON_MARKDOWN2 is not set
# BR2_PACKAGE_PYTHON_MARKUPSAFE is not set
BR2_PACKAGE_PYTHON_MBSTRDECODER=y
# BR2_PACKAGE_PYTHON_MELD3 is not set
# BR2_PACKAGE_PYTHON_MISTUNE is not set
BR2_PACKAGE_PYTHON_MSGPACK is not set
# BR2_PACKAGE_PYTHON_MUTAGEN is not set
# BR2_PACKAGE_PYTHON_MWCLIENT is not set
# BR2_PACKAGE_PYTHON_MWSCRAPE is not set
# BR2_PACKAGE_PYTHON_NETADDR is not set
BR2_PACKAGE_PYTHON_NETIFACES=y
# BR2_PACKAGE_PYTHON_NFC is not set
BR2_PACKAGE_PYTHON_NUMPY_ARCH_SUPPORTS=y
BR2_PACKAGE_PYTHON_NUMPY=y
# BR2_PACKAGE_PYTHON_PAHO_MQTT is not set
# BR2_PACKAGE_PYTHON_PAM is not set
BR2_PACKAGE_PYTHON_PARAMIKO=y
BR2_PACKAGE_PYTHON_PATHPY=y
BR2_PACKAGE_PYTHON_PATHTOOLS=y
BR2_PACKAGE_PYTHON_PATHVALIDATE=y
BR2_PACKAGE_PYTHON_PEXPECT=y
BR2_PACKAGE_PYTHON_PILLOW=y
BR2_PACKAGE_PYTHON_POSIX_IPC=y
BR2_PACKAGE_PYTHON_PROMPT_TOOLKIT=y
BR2_PACKAGE_PYTHON_PROTOBUF=y
BR2_PACKAGE_PYTHON_PSUTIL=y
BR2_PACKAGE_PYTHON_PTYPROCESS=y
# BR2_PACKAGE_PYTHON_PUDB is not set
BR2_PACKAGE_PYTHON_PYASN=y
BR2_PACKAGE_PYTHON_PYASN_MODULES=y
# BR2_PACKAGE_PYTHON_PYCLI is not set
# BR2_PACKAGE_PYTHON_PYCPARSER is not set
# BR2_PACKAGE_PYTHON_PYCRYPTO is not set
# BR2_PACKAGE_PYTHON_PYDAL is not set
# BR2_PACKAGE_PYTHON_PYELFTOOLS is not set
# BR2_PACKAGE_PYTHON_PYFTPDLIB is not set
# BR2_PACKAGE_PYTHON_PYGAME is not set
# BR2_PACKAGE_PYTHON_PYGMENTS is not set
# BR2_PACKAGE_PYTHON_PYICU is not set
# BR2_PACKAGE_PYTHON_PYINOTIFY is not set
# BR2_PACKAGE_PYTHON_PYLIBFTDI is not set
# BR2_PACKAGE_PYTHON_PYLRU is not set
# BR2_PACKAGE_PYTHON_PYMYSQL is not set
# BR2_PACKAGE_PYTHON_PYNACL is not set
BR2_PACKAGE_PYTHON_PYOPENSSL=y
# BR2_PACKAGE_PYTHON_PYPARSING is not set
# BR2_PACKAGE_PYTHON_PYPARTED is not set
# BR2_PACKAGE_PYTHON_PYPCAP is not set
# BR2_PACKAGE_PYTHON_PYQRCODE is not set

#
# python-pyqt needs Qt4
#

#
# python-pyqt5 needs Qt5
#
# BR2_PACKAGE_PYTHON_PYRATEMP is not set
# BR2_PACKAGE_PYTHON_PYRO is not set
# BR2_PACKAGE_PYTHON_PYROUTE2 is not set
# BR2_PACKAGE_PYTHON_PYSENDFILE is not set
# BR2_PACKAGE_PYTHON_PYSMB is not set
# BR2_PACKAGE_PYTHON_PYSNMP is not set
# BR2_PACKAGE_PYTHON_PYSNMP_APPS is not set
# BR2_PACKAGE_PYTHON_PYSNMP_MIBS is not set
# BR2_PACKAGE_PYTHON_PYSOCKS is not set
# BR2_PACKAGE_PYTHON_PYTABLEREADER is not set
# BR2_PACKAGE_PYTHON_PYTABLEWRITER is not set
# BR2_PACKAGE_PYTHON_PYTRIE is not set
BR2_PACKAGE_PYTHON_PYTZ=y

#
# python-pyudev needs udev /dev management
#
BR2_PACKAGE_PYTHON_PYUSB=y
BR2_PACKAGE_PYTHON_PYXB=y
BR2_PACKAGE_PYTHON_PYYAML=y
BR2_PACKAGE_PYTHON_PYZMQ=y
BR2_PACKAGE_PYTHON_REQUESTS=y
BR2_PACKAGE_PYTHON_REQUESTS_TOOLBELT=y
BR2_PACKAGE_PYTHON_RPI_GPIO=y
# BR2_PACKAGE_PYTHON_RTSLIB_FB is not set
BR2_PACKAGE_PYTHON_SDNOTIFY=y
BR2_PACKAGE_PYTHON_SERIAL=y
BR2_PACKAGE_PYTHON_SERVICE_IDENTITY=y
BR2_PACKAGE_PYTHON_SETPROCTITLE=y
BR2_PACKAGE_PYTHON_SETUPTOOLS=y
BR2_PACKAGE_PYTHON_SH=y
BR2_PACKAGE_PYTHON_SHUTILWHICH=y
BR2_PACKAGE_PYTHON_SIMPLEGENERIC=y
BR2_PACKAGE_PYTHON_SIMPLEJSON=y
# BR2_PACKAGE_PYTHON_SINGLEDISPATCH is not set

#
# python-sip needs qt or qt5
#
BR2_PACKAGE_PYTHON_SIX=y
# BR2_PACKAGE_PYTHON_SMBUS_CFFI is not set
# BR2_PACKAGE_PYTHON_SOCKETIO is not set
# BR2_PACKAGE_PYTHON_SORTEDCONTAINERS is not set
# BR2_PACKAGE_PYTHON_SPIDEV is not set
# BR2_PACKAGE_PYTHON_THRIFT is not set
# BR2_PACKAGE_PYTHON_TOMAKO is not set
# BR2_PACKAGE_PYTHON_TOML is not set
# BR2_PACKAGE_PYTHON_TORNADO is not set
# BR2_PACKAGE_PYTHON_TREQ is not set
# BR2_PACKAGE_PYTHON_TWISTED is not set
# BR2_PACKAGE_PYTHON_TXAIO is not set
# BR2_PACKAGE_PYTHON_U_MSGPACK is not set
# BR2_PACKAGE_PYTHON_UBJSON is not set
# BR2_PACKAGE_PYTHON_UJSON is not set
# BR2_PACKAGE_PYTHON_URLLIB3 is not set
# BR2_PACKAGE_PYTHON_URWID is not set
BR2_PACKAGE_PYTHON_VERSIONTOOLS=y
# BR2_PACKAGE_PYTHON_WATCHDOG is not set
BR2_PACKAGE_PYTHON_WCWIDTH=y
# BR2_PACKAGE_PYTHON_WEB2PY is not set
# BR2_PACKAGE_PYTHON_WEBPY is not set
# BR2_PACKAGE_PYTHON_WERKZEUG is not set
# BR2_PACKAGE_PYTHON_WHOOSH is not set
# BR2_PACKAGE_PYTHON_WS4PY is not set
# BR2_PACKAGE_PYTHON_WSACCEL is not set
# BR2_PACKAGE_PYTHON_XLRD is not set
# BR2_PACKAGE_PYTHON_XLSXWRITER is not set
# BR2_PACKAGE_PYTHON_XLUTILS is not set
# BR2_PACKAGE_PYTHON_XLWT is not set
# BR2_PACKAGE_PYTHON_ZOPE_INTERFACE is not set


# ========================================================================= #
# Graphics
# ========================================================================= #

# BR2_PACKAGE_ASSIMP is not set
# BR2_PACKAGE_ATK is not set
# BR2_PACKAGE_ATKMM is not set
# BR2_PACKAGE_BULLET is not set
BR2_PACKAGE_CAIRO=y
# BR2_PACKAGE_CAIRO_PS is not set
BR2_PACKAGE_CAIRO_PDF=y
BR2_PACKAGE_CAIRO_PNG=y
# BR2_PACKAGE_CAIRO_SCRIPT is not set
BR2_PACKAGE_CAIRO_SVG=y
# BR2_PACKAGE_CAIRO_TEE is not set
# BR2_PACKAGE_CAIRO_XML is not set
# BR2_PACKAGE_CAIROMM is not set
# BR2_PACKAGE_EXIV2 is not set
BR2_PACKAGE_FONTCONFIG=y
BR2_PACKAGE_FREETYPE=y
# BR2_PACKAGE_GD is not set
BR2_PACKAGE_GDK_PIXBUF=y
BR2_PACKAGE_GIFLIB=y

#
# granite needs libgtk3 and a toolchain w/ wchar, threads
#
# BR2_PACKAGE_GRAPHITE2 is not set

#
# gtkmm3 needs libgtk3 and a toolchain w/ C++, wchar, threads, gcc >= 4.8
#
BR2_PACKAGE_HARFBUZZ=y
# BR2_PACKAGE_IJS is not set
BR2_PACKAGE_IMLIB2=y
BR2_PACKAGE_IMLIB2_JPEG=y
BR2_PACKAGE_IMLIB2_PNG=y
BR2_PACKAGE_IMLIB2_GIF=y
BR2_PACKAGE_IMLIB2_TIFF=y
BR2_PACKAGE_IMLIB2_ID3=y
BR2_PACKAGE_JASPER=y
BR2_PACKAGE_JPEG=y
BR2_PACKAGE_JPEG_SIMD_SUPPORT=y
# BR2_PACKAGE_LIBJPEG is not set
BR2_PACKAGE_JPEG_TURBO=y
BR2_PACKAGE_HAS_JPEG=y
BR2_PACKAGE_PROVIDES_JPEG="jpeg-turbo"
# BR2_PACKAGE_KMSXX is not set
# BR2_PACKAGE_LCMS2 is not set
# BR2_PACKAGE_LENSFUN is not set
# BR2_PACKAGE_LEPTONICA is not set
# BR2_PACKAGE_LIBART is not set
# BR2_PACKAGE_LIBDMTX is not set
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_LIBDRM_HAS_ATOMIC=y
# BR2_PACKAGE_LIBDRM_RADEON is not set
# BR2_PACKAGE_LIBDRM_AMDGPU is not set
# BR2_PACKAGE_LIBDRM_NOUVEAU is not set
# BR2_PACKAGE_LIBDRM_OMAP is not set
# BR2_PACKAGE_LIBDRM_ETNAVIV is not set
# BR2_PACKAGE_LIBDRM_EXYNOS is not set
# BR2_PACKAGE_LIBDRM_FREEDRENO is not set
# BR2_PACKAGE_LIBDRM_TEGRA is not set
# BR2_PACKAGE_LIBDRM_VC4 is not set
# BR2_PACKAGE_LIBDRM_INSTALL_TESTS is not set
# BR2_PACKAGE_LIBEPOXY is not set
BR2_PACKAGE_LIBEXIF=y

#
# libfm needs X.org and a toolchain w/ wchar, threads, C++
#
# BR2_PACKAGE_LIBFM_EXTRA is not set

#
# libfreeglut depends on X.org and needs an OpenGL backend
#
BR2_PACKAGE_LIBFREEIMAGE=y
BR2_PACKAGE_LIBGEOTIFF=y

#
# libglew depends on X.org and needs an OpenGL backend
#

#
# libglfw depends on X.org and needs an OpenGL backend
#

#
# libglu needs an OpenGL backend
#

#
# libgtk3 needs an OpenGL or an OpenGL-EGL/wayland backend
#
# BR2_PACKAGE_LIBMEDIAART is not set
BR2_PACKAGE_LIBMNG=y
BR2_PACKAGE_LIBPNG=y
BR2_PACKAGE_LIBQRENCODE=y
BR2_PACKAGE_LIBQRENCODE_TOOLS=y
BR2_PACKAGE_LIBRAW=y
BR2_PACKAGE_LIBRSVG=y

#
# libsoil needs an OpenGL backend and a toolchain w/ dynamic library
#
BR2_PACKAGE_LIBSVG=y
BR2_PACKAGE_LIBSVG_CAIRO=y
BR2_PACKAGE_LIBSVGTINY=y
BR2_PACKAGE_LIBVA=y
BR2_PACKAGE_LIBVIPS=y
# BR2_PACKAGE_MENU_CACHE is not set
# BR2_PACKAGE_OPENCV is not set
# BR2_PACKAGE_OPENCV_WITHOUT_GSTREAMER is not set
# BR2_PACKAGE_OPENCV_WITH_GSTREAMER is not set
# BR2_PACKAGE_OPENCV_WITH_GSTREAMER1 is not set


# ========================================================================= #
# OpenCV
# ========================================================================= #

BR2_PACKAGE_OPENCV3=y

#
# Exclude OpenCV 2.x
#

# BR2_PACKAGE_OPENCV is not set
# BR2_PACKAGE_OPENCV_WITHOUT_GSTREAMER is not set
# BR2_PACKAGE_OPENCV_WITH_GSTREAMER is not set
# BR2_PACKAGE_OPENCV_WITH_GSTREAMER1 is not set
BR2_PACKAGE_OPENCV3=y

#
# OpenCV modules (3.x)
#
BR2_PACKAGE_OPENCV3_LIB_CALIB3D=y
BR2_PACKAGE_OPENCV3_LIB_FEATURES2D=y
BR2_PACKAGE_OPENCV3_LIB_FLANN=y
# BR2_PACKAGE_OPENCV3_LIB_HIGHGUI is not set
# BR2_PACKAGE_OPENCV3_GUI_NONE is not set
BR2_PACKAGE_OPENCV3_LIB_IMGCODECS=y
BR2_PACKAGE_OPENCV3_LIB_IMGPROC=y
BR2_PACKAGE_OPENCV3_LIB_ML=y
BR2_PACKAGE_OPENCV3_LIB_OBJDETECT=y
BR2_PACKAGE_OPENCV3_LIB_PHOTO=y
BR2_PACKAGE_OPENCV3_LIB_PYTHON=y
BR2_PACKAGE_OPENCV3_LIB_SHAPE=y
BR2_PACKAGE_OPENCV3_LIB_STITCHING=y
BR2_PACKAGE_OPENCV3_LIB_SUPERRES=y
# BR2_PACKAGE_OPENCV3_LIB_TS is not set
BR2_PACKAGE_OPENCV3_LIB_VIDEOIO=y
BR2_PACKAGE_OPENCV3_LIB_VIDEO=y
BR2_PACKAGE_OPENCV3_LIB_VIDEOSTAB=y

#
# Test sets
#
# BR2_PACKAGE_OPENCV3_BUILD_TESTS is not set
# BR2_PACKAGE_OPENCV3_BUILD_PERF_TESTS is not set

#
# 3rd party support
#
BR2_PACKAGE_OPENCV3_WITH_FFMPEG=y
BR2_PACKAGE_OPENCV3_WITHOUT_GSTREAMER=y
# BR2_PACKAGE_OPENCV3_WITH_GSTREAMER is not set
# BR2_PACKAGE_OPENCV3_WITH_GSTREAMER1 is not set
BR2_PACKAGE_OPENCV3_WITH_JASPER=y
BR2_PACKAGE_OPENCV3_WITH_JPEG=y
BR2_PACKAGE_OPENCV3_WITH_PNG=y
BR2_PACKAGE_OPENCV3_WITH_TIFF=y
BR2_PACKAGE_OPENCV3_WITH_V4L=y

#
# Install options
#
# BR2_PACKAGE_OPENCV3_INSTALL_DATA is not set
BR2_PACKAGE_HAS_LIBEGL=y
BR2_PACKAGE_HAS_LIBGLES=y
BR2_PACKAGE_HAS_LIBOPENVG=y
BR2_PACKAGE_HAS_LIBOPENMAX=y
BR2_PACKAGE_OPENJPEG=y
BR2_PACKAGE_PANGO=y
# BR2_PACKAGE_PANGOMM is not set
BR2_PACKAGE_PIXMAN=y
# BR2_PACKAGE_POPPLER is not set
BR2_PACKAGE_TIFF=y
BR2_PACKAGE_TIFF_CCITT=y
BR2_PACKAGE_TIFF_PACKBITS=y
BR2_PACKAGE_TIFF_LZW=y
BR2_PACKAGE_TIFF_THUNDER=y
BR2_PACKAGE_TIFF_NEXT=y
BR2_PACKAGE_TIFF_LOGLUV=y
BR2_PACKAGE_TIFF_MDI=y
BR2_PACKAGE_TIFF_ZLIB=y
# BR2_PACKAGE_TIFF_XZ is not set
BR2_PACKAGE_TIFF_PIXARLOG=y
BR2_PACKAGE_TIFF_JPEG=y
BR2_PACKAGE_TIFF_OLD_JPEG=y
BR2_PACKAGE_TIFF_JBIG=y
# BR2_PACKAGE_TIFF_UTILITIES is not set
# BR2_PACKAGE_WAYLAND is not set
BR2_PACKAGE_WEBKITGTK_ARCH_SUPPORTS=y
